*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html, body {
   height: 100%;
   width: 100%;
}

body {
   display: flex;
   flex-direction: column;
}

.form {
   max-width: 350px;
   margin: 200px auto 0;
   padding: 20px;
   font-family: 'Oswald', sans-serif;
}

.form__stripes-block {
   position: relative;
   padding: 10px 10px 15px;
   margin-bottom: 20px;
}

.form h3 {
   padding: 7px;
   margin-bottom: 20px;
   text-align: center;
   line-height: 1;
   text-transform: uppercase;
   color: #FAAB1B;
   background: #291810;
}

.form__group input, .form__group label, .form__group textarea {
   display: block;
   width: 300px;
}

.form__group input {
   padding: 5px;
   line-height: 30px;
   border: 2px solid black;
   border-radius: 10px;
   margin-bottom: 10px;
}

.form__group label {
   margin: 20px 5px 5px 0;
   font-size: 12px;
}

.form__submit-block {
   padding: 10px 20px 20px;
   text-align: center;
   cursor: pointer;
}

.form__submit-button {
   display: inline-block;
   padding: 10px;
   background: #256bff;
   border-radius: 10px;
   transition: 1s;
}

.form__submit-button:hover {
   scale: 1.1;
}

.form__submit-button button {
   padding: 4px;
   border-width: 0;
   background: #256bff;
   cursor: pointer;
   color: white;
}

.form__send-result{
   padding: 10px 10px 0 10px;
   text-align: center;
   font-size: 12px;
   color: green;
}

footer a {
   color: #FAAB1B;
}